.left {
    width: 15em;
    float: left;
    text-align: right;

	display: inline-block;
}
.right {
    width: 15em;
    margin-left: 10px;
    float:left;

	display: inline-block;
}

.frmLabel
{

	display: inline-block;
	font-size: 19px;
}

.frmInput
{
	margin: 0;
	display: inline-block;
	width: 15em;

}

.formContainer
{
	border: 1px solid black;
	height: 20em;
	padding: .5em;
	width: 31em;
	display: inline-block;
}