@charset "utf-8";
/* CSS Document */

.text {

	color: #4169e1;
	
}

#wrapper {
	background-color: #ffffff;
	width: 800px;
	margin: 0 auto;
	border-left: 1px solid #e1b941;
	border-right: 1px solid #e1b941;
}

.main {
	margin: 0.5em 1.5em 0.5em 1.5em;
	padding: 2em;
	
}

#nav {

	margin: 1em;
	padding: 1em;
	font-family: Pathway Gothic One;
	font-weight: 300;
	letter-spacing: 1px;
	word-spacing: 25px;
	color: #934f22;
	/*background-color: #8cc170;*/
	text-align: right;
	font-size: 20px;
}

h1 {
	
	color: #e1b941;
	
}




.logo {

	margin-right: 50px;
	
}