@charset "utf-8";
/* CSS Document */

html {
	background-image: url(../imgs/bg3.png);
	background-repeat: repeat;
	overflow-x: hidden;
	
}

body {

	overflow-x: hidden;
	
}

/*FONTS*/

@font-face {
  font-family: "Track";
  src: url(../fonts/Track.OTF) format("opentype");
}

@font-face {
  font-family: "Intro";
  src: url(../fonts/Intro.OTF) format("opentype");
}


/*TOP BAR*/

.topbar {
	background-color: #24242B;
	width: 90em;
	height: 15em;
	color: white;
	position: absolute;
	top: 0em;
	left: 0em;
}


/*LINKS*/

a, a:active, a:visited {

	text-decoration: none;
	color: inherit;	
}

a:hover {

	color: #22b9b9;
	
}
/*NAV*/

#nav {

	width: 100%;
	height: 1.1em;
	background-color: #24242B;
	font-family: times;
	font-size: 0.9em;
	letter-spacing: 3px;
	text-transform: uppercase;
	position: absolute;
	left: 0em;
	top: 15.8em;
	color: white;
	padding: 1em;

}


.active
{
	border-bottom: 1px solid white;
	border: none;

}

#nav a {
	border: none;
	margin: 0em 4em;
	padding: 1em;
	color: white;
	background-color: #24242B; 
	-moz-transition: background-color 500ms ease;
	-webkit-transition:  background-color 500ms ease;
	-o-transition: background-color 500ms ease;
	transition: background-color 500ms ease;
}

#nav a:hover {
	
	border: none;
	color: #24242B;
	background-color: white;
	
}

#nav a:active {

	color: #24242B;
	background-color: white;
	
}

/*MAIN*/

#main {
	background-color: white;
	height: auto;
	width: 65em;
	left: 8.5em;
	margin-top: 16.5em;
	padding: 1em;
	position: absolute;
	border-left: 1px #ededed solid;
	border-right: 1px #ededed solid;
	z-index: 0;	
}

#header {

	margin: 1.5em auto;
	left: 10.5em;
	position: absolute;
	
}

/*TEXT DISPLAY*/

h1 {

	font-family: Amaranth;
	font-size: 20px;
	/*background-color: #22b9b9;*/
	color: #22b9b9;
	/*color: white;*/
	text-transform: uppercase;
	padding: 0.2em;
	width: auto;
	height: auto;
	letter-spacing: 2px;
	margin-left: 1em;
	display: inline-block;
	font-weight: normal;
	border-bottom: 3px #22b9b9 solid;
	cursor: default;
	
}

h1:hover {

	color: #b9b922;
	border-bottom: 3px #b9b922 solid;
	cursor: default;

}

/*ADMIN CP*/

#admin {

	padding: 1em;
	font-family: times;
	font-size: 12px;
	
}

#admin table {

	border: 1px #ededed solid;
	
}

#admin tr {

	border: 1px #ededed solid;
	
}

#admin td.heading {

	padding: 1.8em;
	font-family: Amaranth;
	letter-spacing: 1px;
	font-size: 12px;
	color: #24242B;
	text-align: center;	
}

#admin td.info {

	padding: 1.8em;
	font-family: Times;
	color: #24242B;
	text-align: center;
}

#admin-func {

	background-color: #24242B;
	padding: 1em;
	
}


#admin a {

	padding: 0.3em;
	font-family: Amaranth;
	font-size: 0.8em;
	text-transform: uppercase;
	font-weight: normal;
	display: inline;
	margin: 0em 0.7em;
	cursor: pointer;
	letter-spacing: 1px;
	-moz-transition:opacity 0.5s ease-in-out 0s;
	-webkit-transition:  opacity 0.5s ease-in-out 0s;
	-o-transition:opacity 0.5s ease-in-out 0s;
	transition:opacity 0.5s ease-in-out 0s;	
}


#admin a.purple {

	color: white;
	border-bottom: 2px #d82ad8 solid;
	
}

#admin a.green {

	color: white;
	border-bottom: 2px #b9b922 solid;
	
}

#admin a.purple:hover, #admin a.green:hover {

	opacity: 0.85;
	
}

#search {

	padding: 1em;
	font-family: Amaranth;
	
}

/*USER CP*/

#usercp table {

	border: none;
	width: auto;	
	
}

#usercp td {

	padding: 1.8em;
	font-family: Times;
	color: #24242B;
	text-align: left;
	
}

#usercp h5 {

	padding: 1.8em;
	font-family: Amaranth;
	letter-spacing: 1px;
	font-size: 12px;
	color: #24242B;
	display: inline;
	font-weight: normal;
}

#change a {

	color: #d82ad8;
	font-family: Amaranth;
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 2px;
	border-bottom: 2px #d82ad8 solid;
	padding: 0.3em;
}

.line {

	letter-spacing: -2px;
	display: inline;
	font-size: 12px;
	font-family: Amaranth;
	color: #ededed;
	
}

/*ORDER*/

/*MAIN DIV*/

#order {

	padding: 2em;
	width: 65em;
	font-family: Times;
	font-size: 14px;
	font-weight: normal;
	color: #24242B;
	
	
}

/*DEFAULT HEADING 2*/
#order h2 {

	font-family: Amaranth;
	font-size: 18px;
	cursor: default;
	letter-spacing: 2px;
	width: auto;
	height: auto;
	display: inline-block;
	font-weight: normal;


}

/*HEADING ON THE LEFT - UNREGISTERED SIDE*/
#order h2.unreg {
	font-family: Amaranth;
	color: #b9b922;
	border-bottom: 3px #b9b922 solid;
	
	
}

/*WHAT HAPPENS ON HEADING ON THE LEFT WHEN YOU HOVER*/
#order h2.unreg:hover {

	color: #22b9b9;
	border-bottom: 3px #22b9b9 solid;
	cursor: default;
	
}

/*HEADING 2 ON THE RIGHT SIDE - LOG IN*/
#order h2.log {
	
	font-family: Amaranth;
	color: #22b9b9;
	border-bottom: 3px #22b9b9 solid;
	cursor: default;
	
}

/*WHAT HAPPENS TO HEADING 2 ON THE RIGHT SIDE WHEN YOU HOVER*/
#order h2.log:hover {

	color: #b9b922;
	border-bottom: 3px #b9b922 solid;
	cursor: default;
	
}

#order h2.Feat {
	
	font-family: Amaranth;
	color: #22b9b9;
	border-bottom: 3px #22b9b9 solid;
	cursor: default;
	
}

#order h2.Feat:hover {

	color: #b9b922;
	border-bottom: 3px #b9b922 solid;
	cursor: default;
	
}

/*CONTAINER FOR THE LEFT SIDE*/
#left {
	float: left;
	width: 35em;
	padding: 2em 2em 4em 2em;
	border-right: 1px #ededed solid;
	font-family: Amaranth;
}

/*CONTAINER FOR THE RIGHT SIDE*/
#right {
	float: right;
	width: 21em;
	display: inline;
	padding: 2em 0em 0em 0em;
	font-family: Amaranth;
}


/*ABOUT*/

#about {

	padding: 2em;
	font-size: 14px;
	font-family: Times;
	
}

#about h5 {

	font-size: 14px;
	font-weight: normal;
	font-family: Amaranth;
	
}

#about img {

	-moz-transition:opacity 0.5s ease-in-out 0s;
	-webkit-transition:  opacity 0.5s ease-in-out 0s;
	-o-transition:opacity 0.5s ease-in-out 0s;
	transition:opacity 0.5s ease-in-out 0s;	
	
}

#about img:hover {

	opacity: 0.7;
	
}

/*HOME PAGE*/

#home {

	padding: 1em;
	
}

#home table {

	width: auto;
	
}

#home td {

	font-family: Amaranth;
	font-size: 18px;
	color: white;
	width: 200px;
	height: 200px;
	display: inline-block;
	margin: 1em 1em;
	border-radius: 50%;
	-moz-transition: background-color 500ms ease;
	-webkit-transition:  background-color 500ms ease;
	-o-transition: background-color 500ms ease;
	transition: background-color 500ms ease;
}

#home td.blue {

	background-color: #22b9b9;

	
}

#home td.purple {

	background-color: #a421a5;
}

#home td.green {

	background-color: #b9b922;
}

#home td.green:hover, #home td.blue:hover, #home td.purple:hover{

	background-color: #24242b;
	cursor: default;
	
}

#home p {

	vertical-align: middle;
	margin-top: 40%;
	text-align: center;
	
}

#home img {

	border-radius: 50%;
	-moz-transition:opacity 0.5s ease-in-out 0s;
	-webkit-transition:  opacity 0.5s ease-in-out 0s;
	-o-transition:opacity 0.5s ease-in-out 0s;
	transition:opacity 0.5s ease-in-out 0s;
}

#home img:hover {

	opacity: 0.8;
	
}