@charset "utf-8";
/* CSS Document */

html {
	background-attachment: fixed;
	background-image: url(../imgs/bg2.png);
	background-repeat: repeat;
	overflow-x: hidden;
	
}

body {

	overflow-x: hidden;
	
}

/*FONTS*/

@font-face {
  font-family: "Track";
  src: url(../fonts/Track.OTF) format("opentype");
}

@font-face {
  font-family: "Intro";
  src: url(../fonts/Intro.OTF) format("opentype");
}


/*TOP BAR*/

.topbar {
	background-color: #24242B;
	width: 90em;
	height: 15em;
	color: white;
	position: absolute;
	top: 0em;
	left: 0em;
}

#name {

	color: white;
	letter-spacing: 1px;
	margin: 1em 0;
	position: relative;
}

#and {

	text-align: center;
	font-size: 9em;
	font-family: Intro;
}

/*#name td {
	
	text-align: center;
	font-size: 1.5em;
	width: 5em;
	height: 5em;
	padding: 0.5em;
	margin: 0em 1em;
	vertical-align: middle;
	display: inline-block;
}

.blue {

	background-color:#2ad8d8;
	
}

.purple {

	background-color:#d82ad8;
	
}

.green {

	background-color:#d8d82a;
	
	
}*/

/*LINKS*/

a, a:active, a:visited {

	text-decoration: none;
	color: inherit;	
}

a:hover {

	color: #22b9b9;
	
}
/*NAV*/

#nav {

	width: 140em;
	height: 3em;
	background-color: white;
	color: black;
	font-family: times;
	font-size: 12px;
	letter-spacing: 3px;
	text-transform: uppercase;
	position: absolute;
	left: 0em;
	top: 19.8em;
	border-bottom: 1px #24242B solid;
}

#navlinks {
	padding: 0.8em 0em;
	margin-left: 18em;
}

#navlinks a {

	margin: 0em 5em;
	
}

/*MAIN*/

#main {
	background-color: white;
	height: auto;
	width: 73em;
	left: 5.2em;
	margin-top: 16.7em;
	padding: 1em;
	position: absolute;	
}

#header {

	margin: 1.5em auto;
	left: 10.5em;
	position: absolute;
	
}

/*TEXT DISPLAY*/

h1 {

	font-family: Amaranth;
	font-size: 18px;
	/*background-color: #22b9b9;*/
	color: #22b9b9;
	/*color: white;*/
	text-transform: uppercase;
	padding: 0.2em;
	width: auto;
	height: auto;
	letter-spacing: 2px;
	margin-left: 1em;
	display: inline-block;
	font-weight: normal;
	border-bottom: 3px #22b9b9 solid;
	cursor: pointer;
}

h1:hover {

	color: #b9b922;
	border-bottom: 3px #b9b922 solid;
}

/*ADMIN CP*/

#admin {

	padding: 1em;
	font-family: times;
	font-size: 12px;
	
}

#admin table {

	border: 1px #ededed solid;
	
}

#admin tr {

	border: 1px #ededed solid;
	
}

#admin td.heading {

	padding: 1.8em;
	font-family: Amaranth;
	letter-spacing: 1px;
	font-size: 12px;
	color: #24242B;
	text-align: center;	
}

#admin td.info {

	padding: 1.8em;
	font-family: Times;
	color: #24242B;
	text-align: center;
}

#admin-func {

	font-family: Amaranth;
	font-size: 12px;
	
}